/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind utilities;

@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/OnestLight1602-hint.woff') format('woff');
}

@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/OnestRegular1602-hint.woff') format('woff');
}

@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/OnestMedium1602-hint.woff') format('woff');
}

@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/OnestBold1602-hint.woff') format('woff');
}

@layer base {
  body {
    @apply font-onest text-black-500 dark:text-white-100 leading-normal;
  }

  button {
    @apply outline-none
          cursor-pointer disabled:cursor-not-allowed
          transition-all duration-200 ease-in-out
          disabled:opacity-60 select-none;
  }

  input,
  select {
    @apply bg-transparent outline-none shadow-none placeholder:text-gray-100 font-normal text-base p-[10px];
  }
}

@layer components {
  .btn-primary {
    @apply bg-black-500 dark:bg-white-100 dark:active:bg-gray-400 text-white-100 dark:text-black-200 hover:shadow-sm
    focus-visible:shadow-sm hover:shadow-dark-100 focus-visible:shadow-dark-100 rounded-sm;
  }

  .btn-secondary {
    @apply active:bg-gray-700 dark:active:bg-gray-500 text-black-500
           dark:text-white-200 hover:shadow-sm focus-visible:shadow-sm hover:shadow-dark-100
           focus-visible:shadow-dark-100 box-border border-black-500 dark:border-white-200 border-default rounded-sm;
  }

  .btn-tertiary {
    @apply text-black-500 dark:text-white-100 hover:dark-text-shadow-100 focus-visible:dark-text-shadow-100;
  }

  .btn-quaternery {
    @apply bg-white-300 dark:bg-black-100 text-black-100 dark:text-white-100 dark:active:text-gray-400
           hover:dark-text-shadow-100 focus-visible:dark-text-shadow-100
           box-border border-gray-800 dark:border-gray-200 border-default;
  }

  .card {
    @apply bg-white-400 dark:bg-black-200 border-gray-800 dark:border-gray-200 border rounded-md;
  }

  .input-field {
    @apply bg-white-400 dark:bg-gray-300 rounded-sm flex items-center;
  }

  .input-active {
    @apply outline-1 outline-black-500 dark:outline-white-200 outline;
  }

  .radio {
    @apply grid p-0 place-content-center w-xs h-xs bg-gray-800 dark:bg-gray-600 rounded-full appearance-none before:bg-black-500 dark:before:bg-white-100;
  }

  .radio::before {
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    transition: 120ms transform ease-in-out;
    transform: scale(0);
  }

  .radio:checked::before {
    transform: scale(1);
  }
}

@layer utilities {
  .dark-text-shadow-100 {
    text-shadow: 0 0 6px rgb(236 236 236 / 45%);
  }

  .text-shadow-100 {
    text-shadow: 0 0 6px rgb(236 236 236 / 45%);
  }

  .font-onest {
    font-family: Onest, sans-serif;
  }

  .glass-effect {
    background: #eeeeee9e;
    backdrop-filter: blur(3.5px);
    @apply dark:glass-effect-dark;
  }

  .glass-effect-dark {
    background: rgb(49 49 49 / 62%);
    backdrop-filter: blur(3.5px);
  }
}
