@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --bg-gradient-start-color: #eee;
    --bg-gradient-stop-color: #eee;
    --tab-shadow-color: inset 0 4px 4px rgb(0 0 0 / 25%);
    --tab-container-shadow: inset -1px -1px 1px rgb(255 255 255 / 70%),
      inset 1px 1px 2px rgb(0 0 0 / 5%);
    --input-box-shadow: inset -1px -1px 1px rgb(255 255 255 / 70%),
      inset 1px 1px 2px rgb(0 0 0 / 5%);
    --tab-view-border-color: #aeaec0;
  }

  .dark {
    --glow-start-color: rgb(247 247 247 / 30%);
    --glow-middle-color: rgb(11 11 11 / 50%);
    --glow-stop-color: rgb(28 28 28 / 84%);
    --bg-gradient-start-color: #161616;
    --bg-gradient-stop-color: #151515;
    --tab-shadow-color: rgb(0 0 0 / 25%);
    --tab-container-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
    --input-box-shadow: var(--debossed-box-shadow);
    --tab-view-border-color: rgb(247 247 247 / 20%);
  }

  .tab-shadow {
    box-shadow: inset 0 4px 4px var(--tab-shadow-color);
  }

  .glow {
    box-shadow: 0 0 12px 4px var(--glow-start-color),
      inset 5px 5px 10px var(--glow-middle-color),
      inset -50px 49px 29px 22px var(--glow-stop-color);
  }

  .glow {
    box-shadow: 0 0 12px 4px var(--glow-start-color),
      inset 5px 5px 10px var(--glow-middle-color),
      inset -50px 49px 29px 22px var(--glow-stop-color);
  }

  .bg-gradient {
    background: linear-gradient(
      141.48deg,
      var(--bg-gradient-start-color) -4.56%,
      var(--bg-gradient-stop-color) 135.63%
    );
  }

  .wallet__card {
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
  }

  .label,
  ::placeholder {
    color: var(--color-philippine-gray);
  }

  .input,
  .debossed-card {
    background: var(--debossed-box-color);
    border-radius: 10px;
    box-shadow: var(--input-box-shadow);
  }

  .tab-view-border-color {
    border-color: var(--tab-view-border-color);
  }
}
